table {
  display: flex;
  flex-direction: column;
  text-align: end;

  tbody {
    border-bottom: 1px solid rgba(255, 255, 255, 0.302);

    .row {
      width: 200px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }
  }
}
table:hover .row{
  background-color: rgba(250, 235, 215, 0.279);
}